<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{issues}">
    <f:then>
        <div class="table-fit">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Page</th>
                        <th>Content Element</th>
                        <th>Issue</th>
                        <th>Severity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{issues}" as="issue">
                        <tr>
                            <td>
                                <f:if condition="{issue.pageTitle}">
                                    <f:then>{issue.pageTitle}</f:then>
                                    <f:else>Page {issue.pid}</f:else>
                                </f:if>
                                <small class="text-muted d-block">ID: {issue.pid}</small>
                            </td>
                            <td>
                                <f:if condition="{issue.header}">
                                    <f:then>{issue.header}</f:then>
                                    <f:else><em>No title</em></f:else>
                                </f:if>
                                <small class="text-muted d-block">UID: {issue.uid}</small>
                            </td>
                            <td>{issue.issue}</td>
                            <td>
                                <f:if condition="{issue.severity} == 'error'">
                                    <f:then>
                                        <span class="badge badge-danger">Error</span>
                                    </f:then>
                                    <f:else>
                                        <span class="badge badge-warning">Warning</span>
                                    </f:else>
                                </f:if>
                            </td>
                            <td>
                                <be:link.editRecord uid="{issue.uid}" table="tt_content" class="btn btn-sm btn-default">
                                    Edit element
                                </be:link.editRecord>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </div>
    </f:then>
    <f:else>
        <div class="callout callout-success">
            <h4>No issues found</h4>
            <p>No accessibility issues were detected for this check.</p>
        </div>
    </f:else>
</f:if>

</html>
